{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} OurMacs {% endblock %}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="SelfWeb">
	<link rel="stylesheet" href="{% static "styles/css/material-light-blue.min.css" %}">
	<link rel="stylesheet" href="{% static "styles/css/main.css" %}">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	{% block nav %}
        {% include "nav.html" %}
    {% endblock %}

    <main class="mdl-layout__content">
    	{% block content %}

    	{% endblock %}
	
    	{% block footer %}
    		{% include "footer.html" %}
    	{% endblock %}	
    </main>
    
</div>
	
<!-- javascript -->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/material.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/geolocation.js" %}"></script>
</body>
</html>