<footer>
        <div class="main-footer">
            <ul class="nav navbar-nav">
                <li><a href="#" class="foot-link">关于我们</a></li>
                <li><a href="#" class="foot-link">RSS</a></li>
            </ul>
        </div>
</footer>