{% extends "base.html" %}

{% block content %}

<div class="page-content">
	
</div>
<div class="wrapcontainer">
	<div class="container">
		<div class="row">
			<div class="alert alert-success alert-dismissible fade in" role="alert">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				<div class="location-demo">
  					<p>地理坐标: <span id="latlon"></span></p>
  					<div class="geo">
  						<p>baidu map:</p>
  						<p id="baidu_geo"></p>
  					</div>
  					<div class="geo">
  						<p>google map:</p>
  						<p id="google_geo"></p>
  					</div>
  				</div>
			</div>
		</div>
		<div class="row">
			{% for post in post_list %}
			<div class="col-md-8 col-md-offset-2 wrapbox">
				<div class="post-box">
					<div data-url="{% url 'detail' id=post.id %}" class="post-detail">
						<h3 class="post-title">
							<a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
						</h3>
						<div class="post-desc">
							<p>{{ post.desc }}</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}