 {% load staticfiles %}

 <header class="mdl-layout__header">
     <div class="mdl-layout__header-row">
         <!-- Title -->
         <span class="mdl-layout-title">SelfWeb</span>
         <!-- Add spacer, to align navigation to the right -->
         <div class="mdl-layout-spacer"></div>
         <!-- Navigation. wh hide it in small screens -->
         <nav class="mdl-navigation mdl-layout--large-screen-only">
             <a href="#" class="mdl-navigation__link">注册</a>
             <a href="#" class="mdl-navigation__link">登录</a>
         </nav>
     </div>
 </header>

 <div class="mdl-layout__drawer">
     <nav class="mdl-navigation nav-bar">
         <a href="#" class="mdl-navigation__link"><i class="fa fa-home"></i> 首页</a>
         <a href="#" class="mdl-navigation__link"><i class="fa fa-paper-plane"></i> 浏览</a>
         <a href="#" class="mdl-navigation__link"><i class="fa fa-user"></i> 注册</a>
         <a href="#" class="mdl-navigation__link"><i class="fa fa-sign-out"></i> 登录</a>
     </nav>
 </div>