{% extends "base.html" %} 
{% block content %}
<div class="post container">
    <div class="col-md-8 col-md-offset-2 wrapbox">
        <div class="post-box">
            <a href="javascript:void(0);" class="post-detail">
                <div class="post-title">
                    <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
                </div>
                <div class="post-desc">
                    <p>{{ post.desc }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
